<h1>Welcome <%= @user.first_name %>!</h1>

<h2>Sales</h2>
<% if @user.sales.any? %>
  <ul>
	<% @user.sales.each do |item|%>
	  <li><%= link_to item.title, item_path(item)%></li>
	<%end%>
  </ul>
<%end%>


<% if @user.written_messages.any? %>
  <h2>Conversations Between you and the Seller</h2>
  <ul>
    <% @user.written_messages.each do |conversation| %>
  	  <li><%= link_to conversation.seller.first_name, conversation_path(conversation)%></li>
    <%end%>
  </ul>
<%end%>

<% if @user.recieved_messages.any? %>
  <h2>Conversations Between you and the Buyer</h2>
  <ul>
    <% @user.recieved_messages.each do |conversation| %>
  	  <li><%= link_to conversation.buyer.first_name, conversation_path(conversation)%></li>
    <%end%>
  </ul>
<%end%>